@include tablet {
    .shell-layout-search-entry-container {
        left: 360px;
        margin-right: auto;
        max-width: 700px;
        position: absolute;
        bottom: 8px;
        right: 234px;
        -webkit-transition: left .3s,top .3s,-webkit-transform .5s;
        transition: left .3s,top .3s,transform .5s;
        .container-searchEntry {
            position: static;
            width: auto;
            white-space: nowrap;
        }
        #SrchEntryWebPart_Form div {
            display: flex;
            flex-direction: row;
        }
        .searchBar {
            background-color: #fff;
            border: 1px solid #999;
            padding-right: 68px;
            text-indent: 2px;
            box-sizing: border-box;
            font-size: 13px;
            height: 32px;
            padding-left: 5px;
            padding-top: 2px;
            vertical-align: middle;
            width: 100%;
            z-index: 1000;
        }
        .ac-searchBar {
            z-index: -1;
            display: inline;
            position: absolute;
            left: 0;
            height: 32px;
            width: 100%;
            padding-left: 6px;
            padding-top: 2px;
            padding-right: 68px;
            vertical-align: middle;
            font-family: arial,sans-serif;
            font-size: 13px;
            line-height: 20px;
            text-indent: 2px;
            border: 1px;
            border-radius: 2px;
            box-shadow: none;
            color: #888;
            overflow: hidden;
            box-sizing: border-box;
        }
        .clear-button {
            background: url(https://images1.mcmaster.com/init/gfx/searchBoxClearButtonLightGray.svg?ver=1647247808);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            height: 12px;
            position: absolute;
            top: 10px;
            right: 45px;
            width: 12px;
        }
        .VerticalSeprt {
            background: url(https://images1.mcmaster.com/init/gfx/searchBoxVerticalSeparatorDefault.svg?ver=1647247808);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 14px;
            position: absolute;
            top: 9px;
            right: 35px;
            width: 1px;
        }
        .searchBar-button {
            line-height: 1;
            position: relative;
            top: 5px;
            left: -28px;
            display: inline-block;
            height: 20px;
            width: 20px;
            text-indent: -5000px;
            border: 0;
            background: url(https://images1.mcmaster.com/init/gfx/searchIconRefreshedLightGray.svg?ver=1647247808);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px 16px;
            -webkit-appearance: none;
            align-self: center;
            padding-bottom: 1px;
        }
        .inactive {
            display: none;
        }
    }
}