@include tablet {
  .header {
    display: flex;
    height: 73px;
    border-bottom: 2px solid #fed700;
    box-shadow: 0 7px 0 0 #fff;
    min-width: 525px;
    padding: 10px;
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: {
      transition-duration: 0.3s, 0.5s;
      transition-timing-function: ease, ease;
      transition-delay: 0s, 0s;
      transition-property: height, transform;
    }
    .Clear,
    .an {
      clear: both;
    }
    .browseCatalog_ButtonContainer {
      display: flex;
      float: left;
      flex-direction: row;
    }
    .browseCatalog_Button {
      background-color: transparent;
      border: 0 solid transparent;
      color: #363;
      cursor: pointer;
      float: left;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.035em;
      margin-top: 0px;
      margin-left: 2px;
    }
    .browseCatalog_ButtonImg {
      width: 9px;
      height: 9px;
      margin-left: 5px;
      cursor: pointer;
    }
    .mastHeader-top-right {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 24px;
      top: 14px;
      -webkit-transition: right 0.2s;
      transition: right 0.2s;
    }
    .link-wrapper {
      display: inline-block a {
        color: #666;
        font-size: 15px;
      }
      a:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .masthead-top-right-link-cursor-default {
      color: #666;
      font-weight: bold;
      font-size: 12px;
    }
    .divider {
      background-color: #878787;
      display: inline-block;
      height: 10px;
      width: 1px;
      margin: 3px 12px;
    }
    .dialog {
      background: #fff;
      border: 1px solid #cbcbcb;
      border-top: 2px solid #fed700;
      box-shadow: 0 5px 7px #cbcbcb;
      overflow: hidden;
      position: absolute;
      right: 76px;
      top: 27px;
      -webkit-transition: opacity 0.15s ease-out, height 0.2s ease-out;
      transition: opacity 0.15s ease-out, height 0.2s ease-out;
      width: 500px;
      z-index: 10000;
      header {
        background-color: #f2f2f2;
        font-style: normal;
        font-weight: 400;
        padding: 10px 0 0 25px;
        .title {
          color: #363;
          font-size: 16px;
        }
        .subTitle {
          color: #000;
          font-size: 12px;
          margin-top: 5px;
          padding-bottom: 3px;
        }
      }
      .form-input-wrapper {
        display: block;
        overflow: hidden;
        .form-input {
          border: 0;
          width: 100%;
          background-color: 0;
        }
      }
    }
    .form-label {
      float: left;
      margin-right: 10px;
    }
    .form-section {
      color: #777;
      padding: 12px 25px;
    }
    .section_form {
      border-bottom: 1px solid #cbcbcb;
    }
    .section_form:last-child {
      border: 0;
    }
    .message-section {
      max-height: 384px;
      min-height: 200px;
      padding: 20px 20px 20px 25px;
      overflow: auto;
    }
    .expanding-area {
      position: relative;
      background: #fff;
      pre {
        background: transparent;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
    .active {
      textarea {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        resize: none;
        box-sizing: border-box;
        background: transparent;
        white-space: pre-wrap;
        word-wrap: break-word;
        width: 100%;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        box-shadow: none;
      }
    }
    footer {
      height: 50px;
      position: relative;
      padding: 15px 25px;
    }
    .left-container {
      left: 25px;
      position: absolute;
      top: 15px;
      .button-send-feedback {
        float: left;
        margin: 0;
        display: inline;
        font-size: 0.75rem;
        padding: 3px 15px;
        color: #fff;
        border: 1px solid #363;
        background-color: #363;
        cursor: pointer;
      }
      .link-cancel-feedback {
        float: left;
        margin: 4px 0 0 15px;
        padding-left: 0;
        display: inline;
        cursor: pointer;
      }
      .footer-message-container {
        float: left;
        margin: 4px 0 0 15px;
        pointer-events: none;
      }
    }
    .right-container {
      position: absolute;
      margin-left: 5%;
      right: 25px;
      top: 15px;
      .email-message {
        color: #999;
        float: right;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        margin-top: 4px;
        a {
          color: #999;
          cursor: pointer;
        }
      }
    }
  }
  .hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-out 0.15s, opacity 0.15s ease-out, height 0s;
  }
  #LoginUsrCtrlWebPart_LoginLnk {
    color: #333;
    float: none;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0;
  }
  #_CrtePswdAlertCntnr {
    display: flex;
    flex-direction: row;
    border: 0;
    svg {
      fill: #333;
      margin: 6px 2px 1px 3px;
      height: 6px;
      width: 10px;
    }
  }
  #MastheadLoginInner {
    z-index: 10000;
    background: #fff;
    padding: 5px 4px 5px 5px;
  }
  .container--loginbox {
    position: absolute;
    z-index: 3;
    top: 7px;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px 4px 5px 5px;
    white-space: normal;
    text-transform: none;
    background: #fff;
    box-shadow: 0 5px 7px rgb(0 0 0 / 30%);
    border-top: 2px solid #fed700;
  }
  .MastheadLoginInner_Show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s ease-out;
  }
  #MastheadLoginInner_Content {
    background: #fff;
    position: relative;
    z-index: 4;
    display: inline-block;
  }
  .CloseFrameIcon_button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    float: right;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 16px;
    position: relative;
    height: 20px;
    width: 16px;
  }
  .CloseFrameIcon_closeIcon {
    background-color: rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
    img {
      outline-style: none;
    }
  }
  .CloseFrameIcon_closeIcon {
    background-color: rgba(0, 0, 0, 0);
    height: 10px;
    width: 10px;
  }
  .CloseFrameIcon_image {
    max-width: 100%;
    max-height: 100%;
  }
  .VertSpace_space {
    height: 8px;
    width: 100%;
  }
  .buttonClose {
    background-image: url(https://images1.mcmaster.com/mvD/gfx/ex.png?ver=1524877256);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 20px;
    right: 20px;
    position: absolute;
    top: 13px;
    width: 13px;
  }
  .buttonCloseLogIn {
    background-image: url(https://images1.mcmaster.com/mvD/gfx/ex.png?ver=1524877256);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    height: 20px;
    width: 13px;
    position: absolute;
    left: 285px;
    top: 10px;
    float: right;
  }
  .LoginDropDown_inset {
    margin-left: 24px;
    margin-right: 24px;
    width: 262px;
    .App {
      margin: 0;
      padding: 0;
    }
    .CreateLoginFrame_inset {
      width: inherit;
    }
    .CreateLoginFrame_frameHeader {
      font-size: 16px;
      font-weight: bold;
      color: #363;
    }
    .Input_neutral {
      border-color: #878787;
    }
    .Input_inputCover {
      display: block;
      border: 1px solid;
      width: 260px;
      height: 32px;
      position: relative;
      cursor: text;
      background-color: #fff;
    }
    .InputField_input {
      position: relative;
      height: 28px;
      float: left;
      margin-top: 1px;
      border: #fff;
      text-indent: 8px;
      display: block;
      font-family: arial, sans-serif;
      font-size: 12px;
    }
    .InputField_fullwidth {
      width: 255px;
    }
    .Input_labelFloat {
      transition-duration: 0.2s;
      transition-property: all;
      position: absolute;
      z-index: 1;
      display: block;
      height: 15px;
      left: 10px;
      padding: 0 5px;
      background-color: #fff;
      font-size: 14px;
      color: #666;
      margin-top: -10px !important;
      line-height: 20px;
    }
    .InputField_buttonwidth {
      width: 213px;
    }
    .ShowHideInput_container {
      float: right;
      padding-right: 1px;
    }
    .ShowHideInput_button {
      color: #363;
      background-color: #fff;
      height: inherit;
      width: 40px;
      margin-top: 5px;
      margin-bottom: 0px;
      font-size: 15px;
      cursor: pointer;
    }
    .Dyad_base {
      position: relative;
      overflow: auto;
      .Dyad_right {
        float: right;
        .CreateLoginFrame_link {
          color: #000;
          text-decoration: underline;
          font-weight: 700;
          cursor: pointer;
          font-size: 11px;
          border: 0;
          background-color: rgba(0, 0, 0, 0);
          padding: 0;
          vertical-align: text-top;
        }
      }
      .Dyad_left {
        float: left;
        .ValidatedCheckboxInput_customBox {
          position: relative;
          top: 0.8px;
          margin: 0;
          padding: 0;
          vertical-align: bottom;
          height: 12px;
          width: 12px;
          background-color: rgba(0, 0, 0, 0);
          border-radius: 3px;
          border: 1px solid #666;
          float: left;
        }
        .ValidatedCheckboxInput_text {
          font-size: 11px;
          color: #666;
          cursor: pointer;
          display: block;
          padding-left: 20px;
        }
      }
    }
    .FormButton_primaryButton {
      color: #fff;
      border-radius: 3px;
      border: 1px solid #363;
      background-color: #363;
      cursor: pointer;
      height: 30px;
      width: 262px;
      font-size: 14px;
    }
    .FormButton_secondaryButton {
      color: #363;
      border-radius: 3px;
      border: 1.5px solid #363;
      height: 30px;
      background-color: #fff;
      width: 262px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
