@include tablet {
  .shell-layout-masthead-nav-container {
    position: absolute;
    right: 10px;
    top: 35px;
    width: auto;
    -webkit-transition: top 0.3s, -webkit-transform 0.5s;
    transition: top 0.3s, transform 0.5s;
    nav {
      display: block;
    }
    .hidden {
      display: none;
    }
    .masthead-nav-ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
    .masthead-nav {
      .li-masthead {
        position: relative;
        display: block;
        float: left;
        margin-right: 20px;
        white-space: nowrap;
        a {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: #363;
        }
        .li-masthead--order {
          width: 41px;
        }
        .li-masthead--ordhist {
          padding: 0;
          margin: 0;
        }
      }

      .wrapper-ordernotif {
        min-height: 14px;
        .wrapper-ordernotifitemview {
          max-height: 314px;
        }
        .badge-masthead--notifs {
          font-size: 10px;
          height: 14px;
          width: 14px;
          line-height: 14px;
          border-radius: 7px;
          position: relative;
          bottom: 27px;
          left: 45px;
          display: block;
          padding-right: 0;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          text-align: center;
          color: #363;
          background: #fed700;
        }
        .wrapper-ordernotiflines {
          position: absolute;
          z-index: 999999;
          top: 28px;
          right: -24px;
          min-width: 484px;
          height: 0;
          max-height: 0;
          -webkit-transition: height 0.5s, max-height 0.5s, opacity 0.5s;
          transition: height 0.5s, max-height 0.5s, opacity 0.5s;
          opacity: 0;
        }
        .no-order-lines {
          width: 120px;
          min-width: 120px;
          height: 31px;
        }
        .ordernotiflines-cntnr {
          overflow-x: hidden;
          overflow-y: auto;
          max-height: 330px;
		  z-index: 10000;
          cursor: pointer;
        }
        .ordernotif-view-order {
          display: flex;
          position: relative;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          font-size: 12px;
          text-decoration: none;
          font-family: "DINNextLTPro-Medium", arial, sans-serif;
          cursor: pointer;
          color: #363;
          height: 40px;
          border-top: 1px solid #eee;
        }
      }
    }
  }
}
